
.main-div{
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-div .main-heading{
  color: white;
  font-size: 64px;
  text-align: center;
  line-height: 64px;
}

.Search-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Search-Form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.input-field{
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 3px;
}

.submit-button{
  background: red;
  flex-basis: 10%;
  height: 51px;
  padding: 10px 20px;
  font-size: 23px;
  color: white;
  border: none;
  cursor: pointer;  
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
}


.input-field-autocomplete-holder{
  display: flex;
  flex-basis: 90%;
  flex-direction: column;
}

.Search-Autocomplete{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 200px;
  background: white;
}

.Search-Autocomplete button{
  width: 100%;
  padding: 15px 0px;
  border: none;
  border-bottom: 1px solid #eee;
  background: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.search-section{
  width: 100%;
}

.holder{
  display: flex;
  flex-direction: column; 
}

.Footer{
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0px;
}

.fa{
  color: white;
}

.footer-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.Footer .github{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 0px 10px;

}
.github a{
  margin-left: 10px;
  color: white;
}

.Footer p{
  color: white;
  line-height: 12px;
 display: block;
 /* height: 12px; */
}



/*Styling for Recommendation Tiles*/

.Recommendation_Tiles{
  /* background: red; */
  bordeR: 2px solid #ddd;
  border-radius: 5px;
  height: 300px;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  align-items: center;
  margin: 0px 5px;
}

.Recommendation_Tiles p{
  color: black;
  font-weight: bold;
}

.Recommendation_Tiles img{
  display: block;
  max-height: 260px;
}